{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if switch_status %}
<div id="lcars_output">
<h2>MODIFY: {{ switch_status }}</h2>
</div>
{% endif %}

<div id="readout_left">
<table> 
<tr><th class="tablecol7">Trip</th><th class="tablecol7">Value</th></tr>
<tbody>
<tr><td class="tablecol5">Num. Days</td><td class="tablecol5"> {{ days }}</td></tr>
<td class="tablecol6">Min. Temp</td><td class="tablecol6">{{ holiday_temp }}</td>
</tr>
</table>
</div>
<div id="readout_right">
    <ul id="buttons">
        <li><a href="/holiday/days/0/" class="redbadge">End</a></li>
        <li><a href="/holiday/days/2.0/" class="redbadge">2d</a></li>
        <li><a href="/holiday/days/3.0/" class="redbadge">3d</a></li>
        <li><a href="/holiday/days/7.0/" class="redbadge">7d</a></li>
        <li><a href="/holiday/days/10.0/" class="redbadge">10d</a></li>
        <li><a href="/holiday/days/14.0/" class="redbadge">14d</a></li>
    </ul>
</div>

<div id="readout_right">
    <ul id="buttons">
        <li><a href="/holiday/temp/7.0/" class="bluebadge">7.0C</a></li>
        <li><a href="/holiday/temp/10.0/" class="bluebadge">10.0C</a></li>
        <li><a href="/holiday/temp/15.0/" class="bluebadge">15.0C</a></li>
        <li><a href="/holiday/temp/18.0/" class="bluebadge">15.0C</a></li>
        <li><a href="/holiday/temp/20.0/" class="bluebadge">20.0C</a></li>
        <li><a href="/holiday/temp/22.0/" class="bluebadge">22.0C</a></li>
    </ul>
</div>
{% endblock %}
