{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if modify_value %}
<div id="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div id="readout_left">
<ul>
    <li id="inside_values"><a href="/thermostat/">Life Support<a/></li>
    <li id="inside_valuesalt"><a href="/catcannon/status">Cat Cannon<a/></li>
    <li id="inside_values"><a href="/velux/status">Velux<a/></li>
    <li id="inside_valuesalt"><a href="/holiday/">Transport<a/></li>
    <li id="inside_values"><a href="/socketlist/toggle/">Power<a/></li>
    <li id="inside_valuesalt"><a href="/socketlist/comms/">Comms<a/></li>
    {% if boosted  > 0 %} 
    <li id="inside_valueson"><a href="/holiday/boost/23.0/">Overdrive {{ boosted }}<a/></li>
    {% else %} 
    <li id="inside_values"><a href="/holiday/boost/23.0/">Overdrive<a/></li>
    {% endif %}

</ul>
</div>
{% endblock %}
