{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if modify_value %}
<div id="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div id="readout_left">
<table class="medfont">
<tr><td class="tablecol5"><a href="/thermostat/">Life Support<a/></td></tr>
<tr><td class="tablecol6"><a href="/socketlist/toggle/">Power</a></td></tr>
<tr><td class="tablecol5"><a href="/catcannon/status/">Cat Cannon</a></td></tr>
<tr><td class="tablecol6"><a href="/velux/status/">Velux</a></td></tr>
<tr><td class="tablecol5"><a href="/holiday/">Transport</a></td></tr>
</table>
</div>
{% endblock %}
