{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if modify_value %}
<div id="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div id="readout_left">
<table> 
<tr><th>Device</th><th>Reading</th><th>Device</th><th>Reading</th></tr>
<tbody>
<tr>
{% if boiler == "True"  %}
<td class="internal">Mean Int.</td><td class="tablecol8"> {{ int_weighted_mean }}</td>
{% else %}
<td class="internal">Mean Int.</td><td class="internal"> {{ int_weighted_mean }}</td>
{% endif %}
<td class="external">Mean Ext.</td><td class="external"> {{ ext_weighted_mean }}</td>
</tr>
<tr>
<td class="internal">Required</td><td class="internal">{{ required }}</td>
<td class="external">RollExt</td><td class="external"> {{ outside_rollingmean }}</td>
</tr>
<tr>
<td class="internal">Attic</td><td class="internal"> {{ attic_sensor }}</td>
<td class="external">Eden</td><td class="external"> {{ eden_sensor }}</td>
</tr>
<tr>
<td class="internal">Barab</td><td class="internal"> {{ barab_sensor }}</td>
<td class="external">Forno</td><td class="external"> {{ forno_sensor }}</td>
</tr>
<tr>
<td class="internal">Cellar</td><td class="internal"> {{ cellar_sensor }}</td>
<td></td><td></td>
</tr>
<tr>
{% if damo_sensor %}
<td class="internal">Damocles</td><td class="internal"> {{ damo_sensor }}</td>
<!--<tr><td class="external">Damocles</td><td class="external"><a href="/thermostat/damoclesrepair/">Repair</a></td>-->
{% else %}
<td class="internal">Damocles</td><td class="internal">N/A</td>
{% endif %}
<td class="external">Outside</td><td class="external">{{ outside }}</td>
</tr>
<tr>
<td class="internal">Calendar</td><td class="internal">{{ calendar }}</td>
<td class="internal">Boiler</td><td class="internal">{{ boiler }}</td>
</tr>
</tbody>
</table>
</div>

<div id="readout_right">
    <ul id="buttons">
        <li><a href="/thermostat/required/22.0/" class="redbadge">22</a></li>
        <li><a href="/thermostat/required/20.0/" class="redbadge">20</a></li>
        <li><a href="/thermostat/required/18.0/" class="redbadge">18</a></li>
        <li><a href="/thermostat/required/16.0/" class="redbadge">16</a></li>
        <li><a href="/thermostat/required/12.0/" class="redbadge">12</a></li>
    </ul>
</div>
<div id="readout_right">
    <ul id="buttons">
        <li><a href="/thermostat/required/26.0/" class="bluebadge">26</a></li>
        <li><a href="/thermostat/required/24.0/" class="bluebadge">24</a></li>
        <li><a href="/thermostat/required/21.0/" class="bluebadge">21</a></li>
        <li><a href="/thermostat/required/14.0/" class="bluebadge">14</a></li>
        <li><a href="/thermostat/required/8.0/" class="bluebadge">08</a></li>
    </ul>
</div>
{% endblock %}
