{% extends "base.html" %}
{% load sort %}
{% block content %}
{% if current_location %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% endif %}
{% if modify_value %}
    <div id="lcars_output">
        <h2>MODIFY {{ modify_value }}</h2>
    </div>
{% endif %}
    <div id="readout_left">
        <table>
                {% if Boiler == "True" %} 
                <tr><td id="inside_values">Internal</td><td id="inside_valueson">{{ int_weighted_mean|floatformat:1 }}</td></tr>
                {% else %} 
                <tr><td id="inside_values">Internal</td><td id="inside_values">{{ int_weighted_mean|floatformat:1 }}</td></tr>
                {% endif %}
                {% for k, v in left_column.items|sort %}
                <tr><td id="inside_values">{{ k }}</td><td id="inside_values">{{ v|floatformat:1 }}</td></tr>
                {% endfor %}
        </table>
    </div>

    <div id="readout_left">
        <table>
               <tr><td id="outside_values">External</td><td id="outside_values">{{ ext_weighted_mean }}</td></tr>
               {% for k, v in right_column.items|sort %}
               <tr><td id="outside_values">{{ k }}</td><td id="outside_values">{{ v }}</td></tr>
               {% endfor %}
       </table>
    </div>

    <div id="readout_left">
        <ul id="buttons">
            <li id="redbadge"><a href="/thermostat/required/22.0/" >22</a></li>
            <li id="redbadge"><a href="/thermostat/required/20.0/" >20</a></li>
            <li id="redbadge"><a href="/thermostat/required/18.0/" >18</a></li>
            <li id="redbadge"><a href="/thermostat/required/16.0/" >16</a></li>
            <li id="redbadge"><a href="/thermostat/required/12.0/" >12</a></li>
        </ul>
        <ul id="buttons">
            <li id="bluebadge"><a href="/thermostat/required/26.0/" >26</a></li>
            <li id="bluebadge"><a href="/thermostat/required/24.0/" >24</a></li>
            <li id="bluebadge"><a href="/thermostat/required/21.0/" >21</a></li>
            <li id="bluebadge"><a href="/thermostat/required/14.0/" >14</a></li>
            <li id="bluebadge"><a href="/thermostat/required/8.0/" >08</a></li>
        </ul>
    </div>
{% endblock %}
