{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if modify_value %}
<div id="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div id="readout_left">
        <ul>
	{% for number in sockets %}
	{% ifequal number.switch_state True %}
	<li id="inside_valueson"><a href="/switchsocket/{{number.plug_type}}/{{number.set_id}}/{{number.plug_id}}/off/">{{number.name}}{{number.lastcheckin}}</a></li>
	{% else %}
	<li id="inside_values"><a href="/switchsocket/{{number.plug_type}}/{{number.set_id}}/{{number.plug_id}}/on/">
	{{ number.name }}
        {{ number.lastcheckin }}</a>
	{% endifequal %}
	</li>
	{% endfor %}
        </ul>
</div>
{% endblock %}
