{% extends "base.html" %}

{% block content %}
<div class="lcars_command">
    <h2>Power Control</h2>
</div>
<div class="readout">
	<table class="medfont">
	{% for number in sockets %}
	<tr>
	{% ifequal number.switch_state True %}
	<td class="tablecol2">
	<a href="/switchsocket/{{number.plug_type}}/{{number.set_id}}/{{number.plug_id}}/off/">
	{% else %}
	<td class="tablecol6">
	<a href="/switchsocket/{{number.plug_type}}/{{number.set_id}}/{{number.plug_id}}/on/">
	{% endifequal %}
	{{ number.name }}</a>
	</td> 
        <td class="tablecol6">{{ number.lastcheckin }}</td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
