{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if modify_value %}
<div id="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div id="readout_left">
	<table class="medfont">
	{% for number in sockets %}
	<tr>
	{% ifequal number.switch_state True %}
	<td class="tablecol2">
	<a href="/switchsocket/{{number.plug_type}}/{{number.set_id}}/{{number.plug_id}}/off/">
	{% else %}
	<td class="tablecol6">
	<a href="/switchsocket/{{number.plug_type}}/{{number.set_id}}/{{number.plug_id}}/on/">
	{% endifequal %}
	{{ number.name }}</a>
	</td> 
        <td class="tablecol6">{{ number.lastcheckin }}</td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
