{% extends "base.html" %}
{% block content %}
<div id="lcars_command">
<h2>{{ current_location }}</h2>
</div>
{% if switch_status %}
    <div id="lcars_output">
        <h2>MODIFY: {{ switch_state }}</h2>
    </div>
{% endif %}
<div id="readout_left">
<table>
<tr>
<td class="internal"><a href="/velux/toggleseason/" class="massive">{{season}}</a></td>
</tr>
<tr>
<td class="internal">HALL</td><td class="internal">{{velux3_state}}</td>
</tr>
<tr>
<td class="external">BED 1</td><td class="external">{{velux1_state}}</td>
</tr>
<tr>
<td class="internal">BED 2</td><td class="internal">{{velux2_state}}</td>
</tr>
<tr>
<td class="external">TEMP</td><td class="external">{{attic_temp}}</td>
</tr>
</table>
</div>
<div id="readout_right">
    <ul id="buttons">
        <li><a href="/velux/open/" class="redbadge">Hall Open</a></li>
        <li><a href="/velux/half/" class="redbadge">Hall Half</a></li>
        <li><a href="/velux/close/" class="redbadge">Hall Close</a></li>
    </ul>
</div>
<div id="readout_right">
    <ul id="buttons">
        <li><a href="/velux/allopen/" class="bluebadge">All Open</a></li>
        <li><a href="/velux/allhalf/" class="bluebadge">All Half</a></li>
        <li><a href="/velux/allclose/" class="bluebadge">All Close</a></li>
    </ul>
</div>
{% endblock %}
