{% extends "base.html" %}
{% block content %}
<div id="lcars_command">
<h2>{{ current_location }}</h2>
</div>
{% if switch_status %}
    <div id="lcars_output">
        <h2>MODIFY: {{ switch_state }}</h2>
    </div>
{% endif %}

<div id="readout_left">
<ul>
    <li id="inside_valuesalt"><a href="/velux/toggleseason/">Toggle Season: {{ season }}</a></li>
    <li id="inside_values">Hall: {{  velux3_state }}</li>
    <li id="inside_valuesalt">Bed1: {{  velux1_state }}</li>
    <li id="inside_values">Bed2: {{  velux2_state }}</li>
    <li id="inside_valuesalt">TEMP: {{  attic_temp }}</li>
</ul>
</div>
<div id="readout_left">
    <ul id="buttons">
        <li id="redbadge"><a href="/velux/open/">H.Open</a></li>
        <li id="redbadge"><a href="/velux/half/">H.Half </a></li>
        <li id="redbadge"><a href="/velux/close/">H.Close</a></li>
    </ul>
</div>
<div id="readout_left">
    <ul id="buttons">
        <li id="bluebadge"><a href="/velux/allopen/">A.Open</a></li>
        <li id="bluebadge"><a href="/velux/allhalf/">A.Half</a></li>
        <li id="bluebadge"><a href="/velux/allclose/">A.Close</a></li>
    </ul>
</div>
{% endblock %}
