{% extends "base.html" %}
{% block content %}
    <div id="lcars_command">
        <h2>{{ current_location }}</h2>
    </div>
{% if modify_value %}
<div id="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div id="readout_left">
<table>
<tr>
<td class="tablecol5"><a href="/velux/toggleseason/" class="massive">{{season}}</a></td>
</tr>
<tr>
<td class="tablecol5">HALL</td><td class="tablecol5">{{velux3_state}}</td>
</tr>
<tr>
<td class="tablecol6">BED 1</td><td class="tablecol6">{{velux1_state}}</td>
</tr>
<tr>
<td class="tablecol5">BED 2</td><td class="tablecol5">{{velux2_state}}</td>
</tr>
<tr>
<td class="tablecol6">TEMP</td><td class="tablecol6">{{attic_temp}}</td>
</tr>
<tr>
<td class="tablecol3">Hall</td>
<td class="tablecol4">All</a></td>
</tr>

<tr>
<td class="tablecol3"><a href="/velux/open/" class="massive">Open</a></td>
<td class="tablecol4"><a href="/velux/allopen/" class="massive">Open</a></td>
</tr>
<tr>
<td class="tablecol3"><a href="/velux/close/" class="massive">Close</a></td>
<td class="tablecol4"><a href="/velux/allclose/" class="massive">Close</a></td>
</tr>
<tr>
<td class="tablecol3"><a href="/velux/half/" class="massive">Half</a></td>
<td class="tablecol4"><a href="/velux/allhalf/" class="massive">Half</a></td>
</tr>
</div>
{% endblock %}
