{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>
    <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
    {% if modify == "status" %}
<!--              <h1>We are in status</h1> -->
              {% if refresh_time %}
                <meta http-equiv="refresh" content="{{ refresh_time }}" />
              {% elif request.path == "/" %}
                <meta http-equiv="refresh" content="{{ refresh_time }}" />
<!--              <h1>We have a refresh time and status/h1> -->
              {% else %}
                <meta http-equiv="refresh" content="60" />
<!--              <h1>We only have a refresh time/h1> -->
              {% endif %}
    {% elif modify == "static" %}
                <-- Static page. No refresh -->
    {% elif request.path == "/" %}
                <meta http-equiv="refresh" content="10;" />
<!-- Anything redirecting back to the main page should not be redirected -->
    {% elif modify == "boost" %}
                <meta http-equiv="refresh" content="3; url={{ request.META.HTTP_REFERER }}" />
    {% elif modify == "waterboost" %}
                <meta http-equiv="refresh" content="3; url={{ request.META.HTTP_REFERER }}" />
<!--              <h1>We are waterboosted/h1> -->
    {% elif modify == "shelly" %}
<!--              <h1>We are shelly/h1> -->
                <meta http-equiv="refresh" content="0.3; url={{ request.META.HTTP_REFERER }}" />
    {% else %}
<!--              <h1>We are not in status boost or shelly/h1> -->
<!--          Referer {{ request.META.HTTP_REFERER }}
              Refresh_time: {{ refresh_time }} Modify_value: {{ modify_value }} Modify: {{ modify }} -->
              {% if modify %}
                <meta http-equiv="refresh" content="3; url={{ request.META.HTTP_REFERER }}" />
              {% elif refresh_time %}
                <meta http-equiv="refresh" content="{{ refresh_time }}" />
              {% else %}
                <meta http-equiv="refresh" content="10; url={{ request.META.HTTP_REFERER }}"> 
              {% endif %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/mansour.css" />
</head>

<body>

{% block topnav %}
<div class="topnav">
    <ul>
        <li class="lc1"><a href="/">DECK</a></li>
        <li class="lc2">{{ current_location }}</li>
        {% if modify_value %}
        <li class="lc3">MODIFY {{ modify_value }}</li>
        {% elif modify %}
        <li class="lc3">MODIFY {{ modify }}</li>
        {% else %}
        <li class="lc3">STATUS</li>
        {% endif %}
        <li class="lc4">ENJIIA</li>
    </ul>
</div>
{% endblock %}

{% block content %}{% endblock %}

<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
