{% extends "base.html" %}
{% block content %}
<!--
65549 Kitchen 4
65540 Fishlight
65544 Hall Light
65541 Bookshelf
65538 plug1
65546 K1
65547 K2
65551 K6
65550 K5
65548 K3
65545 Master Bulb
65554 Kid Buld 1
65553 Kid Bulb 2
-->

<div id="readout_left">
    <table>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65546/0/" >K1</a></td>
            <td id="greenbadge"><a href="/bork/65546/1/" >K1</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65547/0/" >K2</a></td>
            <td id="greenbadge"><a href="/bork/65547/1/" >K2</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65548/0/" >K3</a></td>
            <td id="greenbadge"><a href="/bork/65548/1/" >K3</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65549/0/" >K4</a></td>
            <td id="greenbadge"><a href="/bork/65549/1/" >K4</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65550/0/" >K5</a></td>
            <td id="greenbadge"><a href="/bork/65550/1/" >K5</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65551/0/" >K6</a></td>
            <td id="greenbadge"><a href="/bork/65551/1/" >K6</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65540/0/" >Fish</a></td>
            <td id="greenbadge"><a href="/bork/65540/1/" >Fish</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65544/0/" >Hall</a></td>
            <td id="greenbadge"><a href="/bork/65544/1/" >Hall</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65541/0/" >Books</a></td>
            <td id="greenbadge"><a href="/bork/65541/1/" >Books</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65538/0/" >Plug1</a></td>
            <td id="greenbadge"><a href="/bork/65538/1/" >Plug1</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65545/0/" >MasterBulb</a></td>
            <td id="greenbadge"><a href="/bork/65545/1/" >MasterBulb</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65554/0/" >KidBulb1</a></td>
            <td id="greenbadge"><a href="/bork/65554/1/" >KidBulb1</a></td>
        </tr>
        <tr class="lcars_circle">
            <td id="redbadge"><a href="/bork/65553/0/" >KidBulb2</a></td>
            <td id="greenbadge"><a href="/bork/65553/1/" >KidBulb2</a></td>
        </tr>
    </table>
</div>
{% endblock %}

