{% extends "base.html" %}
{% block content %}
    <div id="readout_left">
        <table>
                <tr class="lcars_circle"><td id="redbadge"><a href="/thermostat/status">Life Support</a></td></tr>
                <tr class="lcars_cirlce"><td id="bluebadge"><a href="/bork/99/0">Bork</a></td></tr>
                <tr class="lcars_circle"><td id="redbadge"><a href="/velux/status">Velux</a></td></tr>
                <tr class="lcars_cirlce"><td id="bluebadge"><a href="/holiday/status">Transport</a></td></tr>
                <tr class="lcars_circle"><td id="redbadge"><a href="/catcannon/status">Cat Cannon</a></td></tr>
       </table>
    </div>
    <div id="readout_right2">
                <h3>Hot Water</h3>
          <table>
                <tr class="lcars_circle"><td id="redbadge"><a href="/waterboost/on/3600/">1 Hour</a></td></tr>
                <tr class="lcars_circle"><td id="bluebadge"><a href="/waterboost/off/3600/">Off</a></td></tr>
          </table>
                {% if water_relay == "True" %} 
                <span class="reddot"></span>
                {% else %} 
                <span class="blackdot"></span>
                {% endif %}
    </div>


{% endblock %}
