{% extends "base.html" %}
{% block content %}

    <div id="readout_left">
        <table>
                {% if boiler_relay == "Error" %} 
                <tr class="lcars_circle"><td id="inside_values">Internal</td><td id="inside_valuesboost">{{ int_weighted_mean|floatformat:1 }}</td></tr>
                {% elif boiler_relay == "True" %}
                <tr class="lcars_circle"><td id="inside_values">Internal</td><td id="inside_valueson">{{ int_weighted_mean|floatformat:1 }}</td></tr>
                {% else %} 
                <tr class="lcars_circle"><td id="inside_values">Internal</td><td id="inside_values">{{ int_weighted_mean|floatformat:1 }}</td></tr>
                {% endif %}
                {% for k, v in left_column.items %}
                {% if v|floatformat:1 %}
                <tr class="lcars_circle"><td id="inside_values">{{ k }}</td><td id="inside_values">{{ v|floatformat:1 }}</td></tr>
                {% else %}
                <tr class="lcars_circle"><td id="inside_values">{{ k }}</td><td id="inside_values">{{ v|title }}</td></tr>
                {% endif %}
                {% endfor %}
        </table>
    </div>

    <div id="readout_left">
        <table>
               <tr class="lcars_circle"><td id="outside_values">Ext.</td><td id="outside_values">{{ ext_weighted_mean|floatformat:1 }}</td></tr>
               {% for k, v in right_column.items %}
               <tr class="lcars_circle"><td id="outside_values">{{ k }}</td><td id="outside_values">{{ v|floatformat:1 }}</td></tr>
               {% endfor %}
       </table>
    </div>

    <div id="readout_right">
      <table>
      <tr class="lcars_circle">
          <td id="redbadge"><a href="/thermostat/required/22.0/">22</a></td>
          <td id="greenbadge"><a href="/thermostat/required/19.0/">19</a></td>
      </tr>
      <tr class="lcars_circle">
          <td id="redbadge"><a href="/thermostat/required/20.0/">20</a></td>
          <td id="bluebadge"><a href="/thermostat/required/24.0/">24</a></td>
      </tr>
      <tr class="lcars_circle">
          <td id="redbadge"><a href="/thermostat/required/21.0/">21</a></td>
          <td id="bluebadge"><a href="/thermostat/required/14.0/">14</a></td>
      </tr>
      <tr class="lcars_circle">
          <td id="redbadge"><a href="/thermostat/required/12.0/">12</a></td>
          <td id="bluebadge"><a href="/thermostat/required/8.0/">8</a></td>
      </tr>
      </table>
    </div>
{% endblock %}
