[Unit]
Description=Thermostat read temperatures and calendar

[Service]
Type=oneshot
ExecStart=/usr/local/bin/process_temperatures.py

[Install]
WantedBy=multi-user.target
