
@font-face
{
    font-family: trek;
    src: url('swiss911.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: black;
}

#testFrame {
    margin: auto;
    padding: 25px;
    font-family: trek, "Arial Narrow", Arial;
    font-size: 14pt;
    text-transform: uppercase;
}

#banner {
    font-family: trek, "Arial Narrow", Arial;
    font-size: 48pt;
    text-transform: uppercase;
    text-align: center;
}

#optionsContainer {
    position: relative;
    margin: auto;
    width: 800px;
}

#optionsContainer > div { /* Each Column */
    float: left;
    margin-right: 20px;
    min-width: 200px;
}

#optionsContainer > div > * { /* Every element in the column */
    margin-bottom: 3px;
}

.button {
    width: 196px;
    padding: 5px;
    line-height: 15px;
    border: 2px solid #888;
    color: #888;
    text-align: center;
}

.button:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

