p {
   font-size: 100%;
   color: #ccc;
}

h1,h2{
   font-size: 100%;
}

body {
   font-size: 100%;
   margin: 20px;
   background: #000 url(../img/lcars_background.png) no-repeat;
}

#lcars_home a{
   position: relative;
   top: -15px;
   left: 80px;
   color: #fff;
   font-size: 120%;
}

#lcars_command {
   position: absolute;
   font-size: 120%;
   color: #fff;
   top: -15px;
   left: 220px;
   border: 20px, solid, transparent;
}

#lcars_output {
   position: absolute;
   font-size: 80%;
   color: #fff;
   top: -5px;
   left: 500px;
   border: 20px, solid, transparent;
}


td,th {
  font-size: 66%;
}

img {
border: none;
position: relative;
left: 0px;
top: 0px;
}

.bigfont {
   font-size: 200%;
}

.smallfont {
   font-size: 80%;
}

.medfont {
   font-size: 200%;
}

.redbadge {
    background-color: #cd5c5c;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px white;
    color: white;
    padding: 40px;
    text-align: center;
}

.bluebadge {
    background-color: #ff8c00;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px white;
    color: white;
    padding: 40px;
    text-align: center;
}

table {
    font: bold 22px/20px Helvetica, Verdana, Tahoma;
    font-size: 200%;
}



tr {
    text-align: center;
}

th{
     text-align: center;
     height:40px;
     color: #fff;
}

td {
     height:40px;
}

#main {
      width: 100%;
}

a:link, a:hover {
      text-decoration: none;
      color: #fff;
}

.readout a,td,th {                                            
    color: #fff;                                              
    background-color: #9999ff;                                
    border: 2px solid transparent;                            
    padding: 15px;                                            
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
} 

#readout_left {
    left: 150px;
    float: left;
    position: relative;
    top: 15px;
    font-size: 100%;
    border
}

#readout_right {
    float: left;
    position: relative;
    left: 150px;
    top: 5px;
}

.readout h2 { 
    border: 2px solid blue;
    color: #000; }

.tablecol1 {
    background-color: #cc6666;
}
.tablecol2 {
    background-color: #ff8c00;
}
.tablecol3 {
    background-color: #ff9966;
    color: #000;
}
.tablecol4 {
    background-color: #ffcc99;
    color: #000;
}

.tablecol3 a{
    color: #000;
}
.tablecol4 a{
    color: #000;
}

.tablecol5 {
    background-color: #cc99cc;
}

.tablecol6 {
    background-color: #9999cc;
}

.tablecol7 {
    background-color: #9999ff;
}

#interface {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #0f0;
}

#buttons {
    float: left;
    padding: 0px;
    margin: 0px;
    top: 10px;
}

#buttons li {
    list-style-type: none; 
    padding: 60px 0px 60px 0px;
    margin: 5px;
    font-size: 200%;
}

a:hover {
    color: #66d;
}
