p {
   color: #ccc;
}

body {
/*   font-size: 140%;*/
   margin: 0px;
   color: #fff;
   background: #000 url(../img/lcars_background.png) no-repeat;
}

#lcars_home a{
   position: relative;
   font-size: 140%;
   top: 15px;
   left: 80px;
}

#lcars_command {
   position: absolute;
   top: -10px;
   left: 220px;
   border: 5px, solid, transparent;
}


#lcars_output {
   position: absolute;
   color: #fff;
   top: -10px;
   left: 400px;
   border: 5px, solid, transparent;
}


img {
border: none;
position: relative;
left: 0px;
top: 0px;
}

#redbadge {
    background-color: #cd5c5c;
}

#bluebadge {
    background-color: #ff8c00;
}

tr {
    text-align: center;
}

th{
     font-size: 80%;
     text-align: center;
     height:10px;
     color: #fff;
}

td {
     font-size: 80%;
     height:20px;
}

#main {
      width: 100%;
}

a:visited, a:link, a:hover {
      text-decoration: none;
      color: #fff;
}

#readout_left {
    position: relative;
    left: 20%;
    padding: 5px;
    top: 20px;
    margin: 5px;
    float: left;
    border: 2px solid #fff;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
}

#readout_left li, td {
    color: #fff;
    padding: 15px 15px;                                            
    list-style-type: none;
    font-size: 140%;
    margin: 0px;
    border: 0px solid #fff;
    border-radius: 22px; /* one half of ( (border * 2) + height + padding ) */
    margin: 0px 0px 0px 0px;
}

#readout_left li:hover, td:hover {
    color: #fff;
    background-color: #dde;                                
}

#readout_left ul {

    padding: 0px;

}

#readout_right {
    position: relative;
    float: left;
    right: 0%;
    top: 0px;
    padding: 5px;
    margin: 0px;
    border: 0px;
}

#inside_values {
    margin: 20px;
    background-color: #669;                                
}

#inside_valuesalt {
    padding: 20px;
    background-color: #aae;                                
}

#inside_valueson {
    padding: 20px;
    background-color: #d99;                                
}

#outside_values {
    padding: 20px;
    background-color: #396;                                
}

#buttons {
    float: left;
    padding: 10px;
    margin: 0px;
    top: 20px;
}

#buttons li {
    font-size: 160%;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px white;
    color: white;
    padding: 15px;
    text-align: center;
    list-style-type: none; 
    padding: 25px;
    margin: 2px;
}

#buttons li:hover {
    background-color: #ccc;
}

a:hover {
    color: #000;
}
