<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/mansour.css" />
{% if redirect_required %}
    <meta http-equiv="refresh" content="0; url=/thermostat">
{% endif %}
</head>
<body>
    <div id="lcars_home">
        <a href="/">DECK</a>
    </div>
<div class="lcars_command">
    <h2>LIFE SUPPORT</h2>
</div>
{% if modify_value %}
<div class="lcars_output">
<h2>MODIFY {{ modify_value }}</h2>
</div>
{% endif %}
<div class="readout">
<table> 
<tr><th class="tablecol7">Device</th><th class="tablecol7">Reading</th></tr>
<tbody>
<tr><td class="tablecol5">Attic</td><td class="tablecol5"> {{ attic_sensor }}</td></tr>
<tr><td class="tablecol6">Barab</td><td class="tablecol6"> {{ barab_sensor }}</td></tr>
<tr><td class="tablecol5">Cellar</td><td class="tablecol5"> {{ cellar_sensor }}</td></tr>
{% if damo_sensor %}
<tr><td class="tablecol6">Damocles</td><td class="tablecol6"> {{ damo_sensor }}</td></tr>
{% else %}
<tr><td class="tablecol6">Damocles</td><td class="tablecol6">N/A</td></tr>
<!--<tr><td class="tablecol6">Damocles</td><td class="tablecol3"><a href="/thermostat/damoclesrepair/">Repair</a></td></tr>-->
{% endif %}
<tr><td class="tablecol5">Eden</td><td class="tablecol5"> {{ eden_sensor }}</td></tr>
<tr><td class="tablecol6">Forno</td><td class="tablecol6"> {{ forno_sensor }}</td></tr>
<tr><td class="tablecol5">Mean Int.</td><td class="tablecol5"> {{ int_weighted_mean }}</td></tr>
<tr><td class="tablecol6">Mean Ext.</td><td class="tablecol6"> {{ ext_weighted_mean }}</td></tr>
<tr><td class="tablecol5">Outside</td><td class="tablecol5">{{ outside }}</td></tr>
<tr><td class="tablecol6">RollExt</td><td class="tablecol6"> {{ outside_rollingmean }}</td></tr>
<tr><td class="tablecol5">Calendar</td><td class="tablecol5">{{ calendar }}</td></tr>
<tr><td class="tablecol6">Required</td><td class="tablecol6">{{ required }}</td></tr>
<tr><td class="tablecol5">Boiler</td><td class="tablecol5">{{ boiler }}</td></tr>
</tbody>
</table>
</div>

<div id="interface">
<ul id="bigrow">
<li><a href="/thermostat/required/22.0/" class="redbadge">22</a></li>
<li><a href="/thermostat/required/20.0/" class="redbadge">20</a></li>
<li><a href="/thermostat/required/18.0/" class="redbadge">18</a></li>
<li><a href="/thermostat/required/16.0/" class="redbadge">16</a></li>
<li><a href="/thermostat/required/12.0/" class="redbadge">12</a></li>
</ul>
<ul id="smallerrow">
<li><a href="/thermostat/required/26.0/" class="bluebadge">26</a></li>
<li><a href="/thermostat/required/24.0/" class="bluebadge">24</a></li>
<li><a href="/thermostat/required/21.0/" class="bluebadge">21</a></li>
<li><a href="/thermostat/required/14.0/" class="bluebadge">14</a></li>
<li><a href="/thermostat/required/8.0/" class="bluebadge">08</a></li>
</ul>
</div>

</body>
</html>
