<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/mansour.css" />
{% if refresh_time %}
<meta http-equiv="refresh" content="{{ refresh_time }}" />
{% elif modify_value %}
<meta http-equiv="refresh" content="5; url={{ request.META.HTTP_REFERER }}">
{% endif %}
</head>
<body>
<div id="main">
    <div id="lcars_home">
        <a href="/">DECK</a>
    </div>
    {% block content %}{% endblock %}

</div>
</body>
</html>
